<div class = "container">
<h3>Contact Us!</h3>

<!-- Rails way of Forms -->

<%= form_for "/contacts" do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :comments %>
<%= f.text_area :comments %>

<%= f.submit 'Submit' %>

<% end %>

<!-- HTML way of rendering FORMS
<form action =>
    <label> Name</label>
    <input type = "text"></input>
    <br>
    <label> Email</label>
    <input type = "text"></input>
    <br>
    <label> Comments</label>
    <input type = "text"></input>
    <br>
    <input type="submit"></input>
</form> -->
</div>